@model  Zadatak1.Models.Beer
<style>
    .beerImg {
        height: 250px;
    }

    td, th {
        vertical-align: middle !important;
    }

    td:first-child, td:nth-child(2), th {
        text-align: center;
    }

    td:last-child, th {
        white-space: nowrap;
    }
</style>

<tr>
    <td>
        <img class="beerImg" src=@Model.Image_Url alt="No image available" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.First_Brewed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Abv)
    </td>
    <td>
        <ul>
            @foreach (var str in Model.Food_Pairing)
            {
                <li>@str</li>
            }
        </ul>
    </td>
</tr>